@{
    ViewBag.Title = "Index";
}

<h2>Бухгалтерия</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>Добро пожаловать в сервис бухгалтерии, @User.Identity.Name! </p>
}
else
{
    <p>Добро пожаловать в сервис бухгалтерии! Для продолжения, пожалуйста, авторизуйтесь.</p>
}
